body {
  background: rgb(192, 255, 211);
}

.inner {
  width: 960px;
  max-width: 100%;
  margin : 0 auto;
  background: burlywood;
}

header {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: url(/img/header.png) center / cover;
}